*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./img/track-19217_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

@media screen and (max-width:576px){
    .container{
        width: 90%;
    }
    
}

